.container {
    display: flex;
    flex-direction: column;

}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
  }
  #output {
    text-align: center;
    font-size: 30px;
    padding: 15px 32px;
    margin: 4px 2px;

  }
  #scores {
      display: flex;
      flex-direction: row;
  }